src/main/mule/customer-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <configuration-properties file="config-${env}.yaml" />
    <http:listener-config name="customer-experience-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
            <tls:context>
                <tls:key-store path="${tls.context.keystore.path}" password="${tls.context.keystore.password}" keyPassword="${tls.context.keystore.keyPassword}" type="${tls.context.keystore.type}" />
            </tls:context>
        </http:listener-connection>
    </http:listener-config>
    <http:request-config name="HTTP_Request_Process_Config">
        <http:request-connection host="${process.host}" port="${process.port}" protocol="HTTPS">
            <tls:context>
                <tls:trust-store path="${tls.context.keystore.path}" password="${tls.context.keystore.password}" type="${tls.context.keystore.type}" />
            </tls:context>
        </http:request-connection>
    </http:request-config>
    <apikit:config name="customer-experience-api-config" api="resource::38cd32ec-dbaf-4d31-bc6e-25087cbf3c52:customer-experience-api:3.0.0:raml:zip:customer-experience-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="customer-experience-api-main">
        <http:listener config-ref="customer-experience-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <!-- Unique CorrelationId for AWS CloudWatch logs: just search the corrrelationId and you will get logs from all layers -->
        <set-variable variableName="correlationId" value="#[correlationId default uuid()]" />
        <logger level="INFO" message="START EXPERIENCE - correlationId: #[vars.correlationId]" />
        <apikit:router config-ref="customer-experience-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\customers\(id):application\json:customer-experience-api-config">
        <!-- 1. Extract ID -->
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <!-- 2. Log -->
        <logger level="INFO" message="EXPERIENCE - updating customer id: #[vars.id] correlationId: #[vars.correlationId]" />
        <!-- 3. Call Process API -->
        <http:request method="PUT" config-ref="HTTP_Request_Process_Config" path="/api/customers/{id}">
            <http:body><![CDATA[#[payload]]]></http:body>
            <http:headers><![CDATA[#[{
            "X-Correlation-ID": vars.correlationId
        }]]]></http:headers>
            <http:uri-params><![CDATA[#[{
            id: vars.id
        }]]]></http:uri-params>
        </http:request>
        <!-- 4. Decide HTTP status -->
        <choice>
            <when expression="#[payload.updated == true]">
                <set-variable variableName="httpStatus" value="200" />
            </when>
            <otherwise>
                <set-variable variableName="httpStatus" value="404" />
            </otherwise>
        </choice>
        <!-- 5. Final response to user -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    data: {
        customerId: payload.customerId,
        status: if (payload.updated) "UPDATED" else "NOT_FOUND"
    },
    "_links" : {
        self: "/customers/" ++ vars.id
    },
    correlationId: vars.correlationId
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\customers\(id):customer-experience-api-config">
        <!-- 1. Extract ID -->
        <set-variable variableName="id" value="#[attributes.uriParams.id]" />
        <!-- 2. Correlation ID -->
        <set-variable variableName="correlationId" value="#[attributes.headers.'x-correlation-id' default correlationId]" />
        <!-- 3. INIT SAFE RESPONSE -->
        <set-variable variableName="processResponse" value="#[{}]" />
        <!-- 4. LOG -->
        <logger level="INFO" message="EXPERIENCE DELETE customer #[vars.id] - correlationId: #[vars.correlationId]" />
        <!-- 5. CALL PROCESS API -->
        <http:request method="DELETE" config-ref="HTTP_Request_Process_Config" path="api/customers/{id}" target="processResponse">
            <http:headers><![CDATA[#[{
            "X-Correlation-ID": vars.correlationId
        }]]]></http:headers>
            <http:uri-params><![CDATA[#[{
            id: vars.id
        }]]]></http:uri-params>
        </http:request>
        <!-- 6. BUILD RESPONSE -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var resp = vars.processResponse default {}
---
{
    success: (resp.status default "") == "DELETED",
    customerId: vars.id,
    status: resp.status default "UNKNOWN",
    correlationId: vars.correlationId
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">#[
					var status = vars.processResponse.status default ""

					---
					if (status == "DELETED") 200
					else if (status == "NOT_FOUND") 404
					else 500
					]</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <!-- 7. ERROR HANDLING (NO 500 BREAK) -->
        <error-handler>
            <on-error-continue type="HTTP:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: false,
    customerId: vars.id,
    status: "NOT_FOUND",
    correlationId: vars.correlationId
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-continue>
            <on-error-continue type="HTTP:INTERNAL_SERVER_ERROR">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: false,
    customerId: vars.id,
    status: "PROCESS_ERROR",
    correlationId: vars.correlationId
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">500</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>
    <flow name="get:\customers:customer-experience-api-config">
        <logger level="INFO" message="GET all customers" />
        <http:request method="GET" config-ref="HTTP_Request_Process_Config" path="/api/customers">
            <http:headers><![CDATA[#[
        {
            "X-Correlation-ID": vars.correlationId
        }
        ]]]></http:headers>
            <http:query-params><![CDATA[#[attributes.queryParams]]]></http:query-params>
        </http:request>
    </flow>
    <flow name="get:\customers\(id):customer-experience-api-config">
        <set-variable variableName="id" value="#[attributes.uriParams.id]" />
        <logger level="INFO" message="GET customer id: #[vars.id]" />
        <http:request method="GET" config-ref="HTTP_Request_Process_Config" path="/api/customers/{id}">
            <!-- Passing correlationId to next layer -->
            <http:headers>#[{
    		    "X-Correlation-ID": vars.correlationId
  			  }]</http:headers>
            <http:uri-params><![CDATA[#[{ id: vars.id }]]]></http:uri-params>
        </http:request>
    </flow>
    <flow name="post:\customers:application\json:customer-experience-api-config">
        <logger level="INFO" message="CREATE customer" />
        <http:request method="POST" config-ref="HTTP_Request_Process_Config" path="/api/customers">
            <http:body><![CDATA[#[payload]]]></http:body>
            <!-- Passing correlationId to next layer -->
            <http:headers>#[{
    		    "X-Correlation-ID": vars.correlationId
  			  }]</http:headers>
        </http:request>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var id = payload.customerId
---
{
    customerId: id,
    status: payload.status,
    "_links": {
        self: "/api/customers/" ++ (id as String),
        get: "/api/customers/" ++ (id as String),
        update: "/api/customers/" ++ (id as String),
        delete: "/api/customers/" ++ (id as String)
    }
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">201</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
</mule>
